/*==============================
=            Colors            =
==============================*/
$cc-border: #e3e3e3;
$cc-background-primary: #246f9d;
$cc-background-secondary: #f9f9f9;
$cc-success: #8fbf30;
$cc-header: #2d88c1;


