$icon-font-path: '../fonts/';

@import "_variables";
@import "_mixins";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

h1 {
  color: $cc-h1;
  font-size: 2rem;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  height: 5rem;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  @include tablet {
    height: 8rem;
    @include justify-content(flex-start);
  }

  @include desktop {
    height: 8rem;
    @include justify-content(flex-start);
  }

  &__brand {
    @include mobile {
      width: 100px;
    }

    @include tablet {
      margin-left: 40px;
    }

    @include desktop {
      margin-left: 60px;
    }
  }
}

/* Main Jumbotron Section */
.jumbotron {
  height: 40rem;
  color: white;
  border-top: 2px solid $cc-border;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/background-mobile.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  @include mobile {
  }

  .container {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-around);

    height: 100%;
  }

  &__headline {
    text-shadow: 2px 2px grey;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.get-quote {
  @include button--submit;
  @include flexbox;
}

.insurance-options {
  img {
    width: 40px;
  }
  &__options {
    &__item {
      @include flexbox;
      @include align-items(center);

      div {
        margin-left: 1rem;
      }
    }
  }
}



// Apply this class with button--submit class for use at bottom of forms
.full-width {
  width: 100%;
  max-width: 100% !important;
  border-radius: 0;
}